pkgbase = lunatask
	pkgdesc = encrypted to-do list, habit and mood tracker, journaling and notes app
	pkgver = 1.7.5
	pkgrel = 0
	url = https://lunatask.app
	arch = x86_64
	license = proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus-glib
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdbusmenu-glib
	depends = libdbusmenu-gtk2
	depends = libdrm
	depends = libindicator-gtk2
	depends = libnotify
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	options = !strip
	source = https://lunatask.app/download/Lunatask-1.7.5.AppImage
	sha512sums = b4feb12374d78ca4df3f0ad52f48c02d5f8a836a7852bbf21f6a41cbf2789051ba4c5c3d99ccdca6670932a627395f2737b6ebaaaf53f01ba1bbfc36377d3b81

pkgname = lunatask
